.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
assets/node_modules/
npm-debug.*
Thumbs.db
package-lock.json
uploads/
simple-ftp-deploy.json
sitemap.xml
application/logs/*
application/session/*